<% unless @quizzes.blank? %>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>No of questions</th>
    <th>Edit</th>

  </tr>
<%  @quizzes.each do |quiz| %>

  <tr>
    <td><%= quiz.id %></td>
    <td><%= quiz.title %></td>
    <td><%= quiz.status %></td>
    <td><%= quiz.no_of_questions %></td>
    <% if logged_in? && @user.role == "user" %>
    <td><%= button_to "Take Quiz", "/take-quiz/#{quiz.id}", method: :get %></td>
      
    <% else %>
    <td><%= button_to "Edit Quiz", edit_quiz_path(quiz.id), method: :get %></td>
    <%end %>
  </tr>
  <% end %>
</table>

<% end %>

<style type="text/css">
	th,td{
		padding: 20px;
	}
</style>