<!DOCTYPE html>
<html>
  <head>
    <title>QuizApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>

    <% if logged_in? && @user.role == "user" && controller_name == "users"%>
      <%= button_to "Select Quiz", quizzes_path, method: :get %>
      <br>

    <% end %>
    <% if logged_in?  %>
      <%= button_to "Logout", logout_path, method: :delete %>
      <% end %>
  </body>
</html>
